* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: sans-serif;
}

.green-bar {
    height: 15vh;
    width: 100%;
    background-color: #009788;
}

.container {
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: scroll;
    position: absolute;
    padding: 20px;
}


.gradient-bg {
    height: 85vh;
    width: 100%;
    background: rgb(209,219,220);
    background: linear-gradient(0deg, rgba(209,219,220,1) 0%, rgba(221,218,209,1) 70%);
}

.app-container {
    padding: 30px;
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    min-width: 1200px;
    max-width: 2500px;
    height: 90%;
}

.view {
    height: 100%;
    width: 100%;
}

.view>.left {
    height: 100%;
    width: 40%;
    float: left;
    background-color: #eaeaea;
    border-right: 1px solid lightgray;
}

.view>.right {
    height: 100%;
    width: 60%;
    float: left;
}

.user-info {
    height: 90px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}

.user-info>.commands{
    color: #b1b1b1;
    font-size: 24px;
    margin-right: 30px;
}

.user-info>.commands i {
    margin-left: 20px;
}

.user-info img {
    border-radius: 50%;
    height: 60px;
}

.notifications {
    height: 90px;
    background-color: #8edafc;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.notifications>.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8edafc;
    height: 60px;
    width: 60px;
    margin-right: 20px;
    background-color: white;
    border-radius: 50%;
}

.notifications>.circle i {
    font-size: 24px;
}

.desktop-notifications p:first-of-type{
    font-size: 20px;
    margin-bottom: 5px;
}

.desktop-notifications p:last-child{
    font-size: 16px;
    text-decoration: underline;
    color: gray;
}

.search {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.search input {
    height: 70%;
    width: 95%;
    font-size: 18px;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 10px;
}

.search input:focus {
    outline: none;
}

.users {
    height: calc(100% - 220px);
    overflow-y: auto;
}

.user {
    padding: 10px 20px;
    height: 90px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user img {
    border-radius: 50%;
    margin-right: 20px;
}

.name-text {
    width: 100%;
    color: #b1b1b1;
}

.name-text p:first-of-type span:first-of-type{
    color: black;
    margin-bottom: 5px;
}

.name-text p:first-of-type {
    display: flex;
    justify-content: space-between;
}

.chat-info {
    height: 90px;
    background-color: #eaeaea;
}

.chat {
    height: calc(100% - 190px);
    background-color: yellow;
}

.message {
    height: 100px;
    background-color: gray;
}
